@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;
    outline-offset: -1px;*/
}

body {

    font-family: "Sarabun", sans-serif;
    background: var(--BG-color, #000000);
}

header {
    width: 100%;
    border-bottom: 2px solid #FFF;
    margin-top: 1rem;

}

.header-container {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nome-saldo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#saldo-text {
    color: var(--gray, #A6AAB4);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

#saldo-valor {
    color: var(--black, #f9f9fc);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
}

.img-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.img-cliente img {
    width: 100%;
    border-radius: 50%;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4ecfc;
    border-radius: 20px;
    margin-top: 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    border: 1px solid #ccc;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: #8A05BE;

}

.gastos-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;

}

.gastos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 8rem;
    margin: 1rem;
    flex-direction: column;
    gap: .5rem;
}

.gastos img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;

}

.gastos-nome {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    margin-top: 1rem;
    border-bottom: 2px solid white;
   color:#FFF;
}
.nomes{
    color: #FFF;
}

.icones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    gap: 1rem;
}

.icone-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 2rem;
}

.icone-link:hover {
    color: #ee66ee;
}

.logo-ponto {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.expires {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--white, #FFF);
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.4px;

}

.info-nome {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.meio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white, #FFF);
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 5px;
}

footer{
    border-top: 2px solid white;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 1rem;
}